*,
*::after,
*::before {
    box-sizing: border-box;
}

body    {
    color: #262C27;
    // font-family: 'Comfortaa', italic;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    background-image: url(../images/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;


    &__top {
        display: flex;
        align-items: center;
        padding: 57px 0;
        gap: 100px;
        justify-content: flex-end;
        font-family: 'Comfortaa', italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
    }

    &__btn {
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 12px 71px;
        background-color: #262C27;
        border: none;
        cursor: pointer;
        transition: all .3s;
    }
    &__btn:hover {
        color: #262C27;
        background-color: #B9C400;
    }

    &__phone {
        transition: all .5s;
    }
    &__phone:hover {
        font-size: 24px;
        line-height: 27px;
    }

    &__content {
        min-height: calc(100vh - 161px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    &__content-box {
        max-width: 550px;
        text-align: center;
        margin-right: 30px;
        color: #FFFFFF;
        font-family: 'Comfortaa', italic;
        font-weight: 700;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 64px;
        line-height: 71px;
    }

    &__text {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 20px;

    }

    &__decor-text {
        position: absolute;
        bottom: 0;
        color: #0093A1;

    }
}
.header::before {
    content: '';
    position: absolute;
    background-image: url(../images/header-decor.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(40%);
    z-index: 2;
}
.header::after {
    content: '';
    position: absolute;
    background-image: url(../images/header-decor.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(75%) rotate(180deg);
    z-index: 3;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo path  {
    transition: fill .3s ease;
}
.logo:hover path {
    fill: #0093A1;

}
